extends layout

block content
  .inner
    h2 #{title}
    form.card.form(action="/account/info" method="post")
      input(type='hidden' name='_csrf', value=csrfToken)

      label(for="name") Name
      input(type="name" name="name", value=user.name)

      label(for="email") Email Address
      input(type="email" name="email", value=user.email)

      input.form__button(type="submit" value="SAVE →")


