doctype html
html
  head
    title= title
    link(rel="shortcut icon" type="image/png" href="/images/icons/worldwide.png")
    link(rel='stylesheet' href='/stylesheets/style.css')

  body
    block header

    block messages

    .content
      block content

    block scripts