extends layout

block content
  .inner
    h2 #{title}
    form.card.form(method="post")
      input(type='hidden' name='_csrf', value=csrfToken)

      label(for="password") New Password
      input(type="password" name="password")

      label(for="confirm-password") Confirm Password
      input(type="password" name="confirm-password")

      input.form__button(type="submit" value="RESET →")