mixin stars(value = 0, mode = "active")

  - const disabled = mode === "disable" ? true : false;
  - const ratingClass = mode === "disable" ? "" : "rating__group--active";

  .rating__group(class=ratingClass)
    input.rating__input.rating__input--none(checked name="rating2" id="rating2-0" value="0" disabled=(disabled) type="radio")
    label(aria-label="0 stars" class="rating__label" for="rating2-0") &nbsp;

    label(aria-label="0.5 stars" class="rating__label rating__label--half" for="rating2-05")
      svg.rating__icon.rating__icon--star
        != h.icon('star-half')
    input.rating__input(name="rating2" id="rating2-05" value="0.5" type="radio" disabled=(disabled) checked=(value === 0.5))

    label(aria-label="1 star" class="rating__label" for="rating2-10")
      svg.rating__icon.rating__icon--star
        != h.icon('star')
    input.rating__input(name="rating2" id="rating2-10" value="1" type="radio" disabled=(disabled) checked=(value === 1))

    label(aria-label="1.5 stars" class="rating__label rating__label--half" for="rating2-15")
      svg.rating__icon.rating__icon--star
        != h.icon('star-half')
    input.rating__input(name="rating2" id="rating2-15" value="1.5" type="radio" disabled=(disabled) checked=(value === 1.5))

    label(aria-label="2 stars" class="rating__label" for="rating2-20")
      svg.rating__icon.rating__icon--star
        != h.icon('star')
    input.rating__input(name="rating2" id="rating2-20" value="2" type="radio" disabled=(disabled) checked=(value === 2))

    label(aria-label="2.5 stars" class="rating__label rating__label--half" for="rating2-25")
      svg.rating__icon.rating__icon--star
        != h.icon('star-half')
    input.rating__input(name="rating2" id="rating2-25" value="2.5" type="radio" disabled=(disabled) checked=(value === 2.5))

    label(aria-label="3 stars" class="rating__label" for="rating2-30")
      svg.rating__icon.rating__icon--star
        != h.icon('star')
    input.rating__input(name="rating2" id="rating2-30" value="3" type="radio" disabled=(disabled) checked=(value === 3))

    label(aria-label="3.5 stars" class="rating__label rating__label--half" for="rating2-35")
      svg.rating__icon.rating__icon--star
        != h.icon('star-half')
    input.rating__input(name="rating2" id="rating2-35" value="3.5" type="radio" disabled=(disabled) checked=(value === 3.5))

    label(aria-label="4 stars" class="rating__label" for="rating2-40")
      svg.rating__icon.rating__icon--star
        != h.icon('star')
    input.rating__input(name="rating2" id="rating2-40" value="4" type="radio" disabled=(disabled) checked=(value === 4))

    label(aria-label="4.5 stars" class="rating__label rating__label--half" for="rating2-45")
      svg.rating__icon.rating__icon--star
        != h.icon('star-half')
    input.rating__input(name="rating2" id="rating2-45" value="4.5" type="radio" disabled=(disabled) checked=(value === 4.5))

    label(aria-label="5 stars" class="rating__label" for="rating2-50")
      svg.rating__icon.rating__icon--star
        != h.icon('star')
    input.rating__input(name="rating2" id="rating2-50" value="5" type="radio" disabled=(disabled) checked=(value === 5))