$white: #efefef;
$black: #303030;
$light_brown: #f5dea3;
$green: #018383;
$light_green: #42e6a4;
$blue: #1d80c3;
$color_gradient: linear-gradient(
  90deg,
  #42e6a4 0%,
  #02a8a8 25%,
  #018383 50%,
  #42e6a4 75%
);
$success: #64e291;
$info: #1d72f3;
$warning: #fec771;
$error: #eb7070;
