.search {
  position: relative;
  width: 100%;
  display: flex;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  font-family: "Oswald", sans-serif;

  &__results {
    background: white;
    position: absolute;
    width: 100%;
    top: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 15;
    left: 0;
  }
  &__input {
    font-family: inherit;
    font-size: 2rem;
    background: none;
    color: $black;
    outline: 0;
    border: 0;
    padding: 1rem;
    width: 100%;
    border-bottom: 5px solid transparent;

    &:hover,
    &:focus {
      border-bottom: 5px solid $black;
    }
  }
  &__result {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    font-size: 1.5rem;
    background: $black;
    color: white;
    &--active {
      color: $light_brown;
    }
  }
}
