$white: #efefef;
$light_brown: #f5dea3;
$green: #018383;
$light_green: #42e6a4;
$blue: #1d80c3;
$color_gradient: linear-gradient(
  90deg,
  #f5dea3 0%,
  #42e6a4 20%,
  #02a8a8 60%,
  #018383 85%,
  #f5dea3 95%
);
